/** Boutons Menu **/

.WaitForPlay, .Conceptor {
    font-family: 'Nova Flat', cursive;
    background-color: black;
    border: solid;
    color: white;
    font-size: 2rem;
    height: 200px;
    width: 400px;
    margin: 5%;
    vertical-align: middle;
    border-color: blue;
    animation-name: border-color;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

.WaitForPlay:hover, .Conceptor:hover {
    outline : 0.2rem solid blue;
}

.gridSize:hover{
    outline : 0.4rem solid #BC13FE;
}

@keyframes border-color {
    0%   {border-color:#4D4DFF;}
    16.66%  {border-color:#E0E722;}
    33.32%  {border-color:#FFAD00;}
    49.98%  {border-color:#D22730;}
    66.64%  {border-color:#DB3EB1;}
    83.31%  {border-color:#C724B1;}
    100% {border-color:#44D62C;}
}

.buttonPicture{
    vertical-align: middle;
    height : 100px;
    width : 100px;
}

.ButtonMenu{
    display: flex;
    justify-content: center;
}


.Board {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#headertext {
    color: silver;
    margin-left: 65px;
    font-size: 1.5rem;
}

.SoundBtn, .SpeedBtn{
    margin: auto;
    border : solid;
    border-color: rgb(207, 6, 207);
    border-radius: 4px;
    position: relative;
    display: inline-block;
   
}

.SoundBtn .TextSound, .SpeedBtn .TextSpeed {
    visibility: hidden;
    width: 300px;
    background: radial-gradient(white 30%, pink);
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 40px;
    right: -125px;
    bottom: 40px;
    border: solid;
    border-color: purple;
    position: absolute;
}

.SoundBtn:hover .TextSound, .SpeedBtn:hover .TextSpeed {
    visibility: visible;
}

.SoundBtn:hover, .SpeedBtn:hover{
    background-color: silver;
    margin: auto;
    border : solid;
    border-color: rgb(207, 6, 207);
    border-radius: 4px;
}

.SpeedAndSound{
    display: flex;
    justify-content: space-around;
}

/** Rectangle d'achat de tourelles **/

.RectangleTowers {
    text-align: center;
    height: 863px;
    width: 250px;
    background: radial-gradient(black 50%, blue);
    border: 0.4rem solid;
    border-color: black;
}

.RectangleTowers h1 {
    text-align: center;
    text-decoration: underline;
    color : silver;
    text-shadow: 2px 2px black;
}

.ImageGold {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    color: gold;
}

.TurretText {
   text-align: center;
    color: gold;
    font-size: 2rem;
    line-height: 2.6rem;
}

.Triangle {
    text-align: center;
    color: gold;
    font-size: 1.9rem;
}

.YellowTri {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.YellowTri .TextYellow {
    visibility: hidden;
    width: 300px;
    background: radial-gradient(white 30%, yellow);
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 40px;
    right: -320px;
    border: solid;
    border-color: gold;
    position: absolute;
}
.YellowTri:hover .TextYellow {
    visibility: visible;
}

.RedTri {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.RedTri .TextRed {
    visibility: hidden;
    width: 320px;
    background: radial-gradient(white 30%, red);
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 40px;
    right: -320px;
    border: solid;
    border-color: darkred;
    position: absolute;
}
.RedTri:hover .TextRed {
    visibility: visible;
}

.PurpleTri {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.PurpleTri .TextPurple {
    visibility: hidden;
    width: 320px;
    background: radial-gradient(white 30%, purple);
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 40px;
    right: -320px;
    border: solid;
    border-color: rebeccapurple;
    position: absolute;
}
.PurpleTri:hover .TextPurple {
    visibility: visible;
}

.BlueTri {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.BlueTri .TextBlue {
    visibility: hidden;
    width: 310px;
    background: radial-gradient(white 30%, blue);
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 40px;
    right: -320px;
    border: solid;
    border-color: darkblue;
    position: absolute;
}
.BlueTri:hover .TextBlue {
    visibility: visible;
}

.GreyTri:hover {
    outline : 0.2rem solid red;
}

.YellowTri:hover {
    outline : 0.2rem solid red;
}

.RedTri:hover {
    outline : 0.2rem solid red;
}

.PurpleTri:hover {
    outline : 0.2rem solid red;
}

.BlueTri:hover {
    outline : 0.2rem solid red;
}



.Selected {
    border: solid;
    border-color: orange;
}


.RectangleTowers hr{
    background-color: black
}

.Sell {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    color : red;
    text-shadow: 2px 2px black;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.Sell:hover {
    border: solid;
    border-color: red;
}



.Sell .TextSell {
    visibility: hidden;
    font-size: 1.5rem;
    text-shadow: none;
    width: 310px;
    background: radial-gradient(white 30%, red);
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 40px;
    right: -320px;
    border: solid;
    border-color: darkred;
    position: absolute;
}

.Sell:hover .TextSell {
    visibility: visible;
}

.Cancel {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    color : silver;
    text-shadow: 2px 2px black;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.Cancel:hover {
    outline : 0.2rem solid silver;
}

.Cancel .TextCancel {
    visibility: hidden;
    font-size: 1.5rem;
    text-shadow: none;
    width: 310px;
    background: radial-gradient(white 30%, grey);
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 40px;
    right: -320px;
    border: solid;
    border-color: black;
    position: absolute;
}

.Cancel:hover .TextCancel {
    visibility: visible;
}

/** Rectangle d'infos de waves **/

.Mobs {
    border-left-width: medium;
    border-left-style: none;
    border-left-color: black;
}

.RectangleMobs {
    height: 863px;
    width: 250px;
    background: radial-gradient(black 50%, red);
    border: 0.4rem solid;
    border-color: black;
}

.RectangleMobs h1 {
    text-align: center;
    text-decoration: underline;
    color : silver;
    text-shadow: 2px 2px black;
}

.Wave {
    text-align: center;
    font-size: 1.9rem;
    color: #ffae00;
}

.waveinactive {
    margin: 2.2rem;
    color: black;
    font-size: 2rem;
    background-color : red;
    border: solid;
    border-color: darkred;
    position: relative;
    display: inline-block;

}

.waveinactive:hover {
    background-color: black;
    border: solid;
    border-color: rgb(255, 8, 8);
    color: red;
    font-size: 2rem;
    margin: 2.2rem;
}

.waveinactive .TextStart {
    visibility: hidden;
    font-size: 1.5rem;
    text-shadow: none;
    width: 310px;
    color: rgb(231, 231, 231);
    text-align: center;
    padding: 5px 0;
    border-radius: 40px;
    right: 200px;
    border: solid;
    border-color: darkred;
    position: absolute;

    background: radial-gradient(black 30%, darkred);
}

.waveinactive:hover .TextStart {
    visibility: visible;
}

.Enemies {
    margin-left: 4rem;
    font-size: 1.9rem;
    color: #ffae00;
}

#startwave:active, .waveactive {
    background-color: black;
    border: solid;
    border-color: rgb(255, 8, 8);
    color: red;
    font-size: 2rem;
    margin: 2.2rem;
}

.waveactive .TextStart {
    visibility: hidden;
    font-size: 1.5rem;
    text-shadow: none;
    width: 310px;
    color: rgb(231, 231, 231);
    text-align: center;
    padding: 5px 0;
    border-radius: 40px;
    right: 200px;
    border: solid;
    border-color: darkred;
    position: absolute;
    background: radial-gradient(black 30%, darkred);
}




/*
.tank {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tank .TextPurple {
    visibility: hidden;
    width: 300px;
    background-color: silver;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 40px;
    border: solid;
    border-color: darkred;
   
    position: absolute;
    z-index: 1;
}
.tank:hover .TextPurple {
    visibility: visible;
}


.normal {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.normal .TextOrange {
    visibility: hidden;
    width: 300px;
    background-color: silver;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 40px;
    border: solid;
    border-color: darkred;
   
    position: absolute;
    z-index: 1;
}
.normal:hover .TextOrange {
    visibility: visible;
}


.weak {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.weak .TextLime {
    visibility: hidden;
    width: 300px;
    background-color: silver;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 40px;
    border: solid;
    border-color: darkred;
   
    position: absolute;
    z-index: 1;
}
.weak:hover .TextLime {
    visibility: visible;
}
*/

.Remaining {
    color: #ffae00;
    text-align: center;
    font-size: 1.9rem;
} 

.EnemyAlive {
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    overflow: hidden visible;
    height: 350px;
}
::-webkit-scrollbar {
    width: 7.5px;
    height: 13px;
   }
   ::-webkit-scrollbar-thumb {
    background: radial-gradient(circle, #b21bbd 14%,#ff19ff 64%);
    border-radius: 15px;
   }
   ::-webkit-scrollbar-thumb:hover{
    background: radial-gradient(circle, #B21BBD 14%,#ff19ff 64%);
   }
   ::-webkit-scrollbar-track{
    background: #ecaff7;
    border-radius: 15px;
   }

.EnemyAlive > div {
    margin: 13px;
    padding: 10px;
}

.CircleImage {
    margin-left: 5px;
    margin-bottom: 8px;
}

progress {
    height: 8px;
    width: 35px;
    color: lime;
    background-color: white;
}

/*
::-moz-progress-bar {
    color: lime;
    background-color: white;
}
*/

/** Rectangle de statistiques des mobs **/

.MobsStats {
    height: 863px;
    width: 250px;
    background: radial-gradient(black 50%, rgb(170, 51, 134));
    border-right: 0.4rem solid;
    border-top: 0.4rem solid;
    border-bottom: 0.4rem solid;
    border-color: black;
    color: #ffae00;
}

.MobsStats h1{
    text-decoration: underline;
    color : silver;
    text-shadow: 2px 2px black;
    text-align: center;
}

.MobsStats p{
    line-height: 2;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.MobsStats img {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}    

.Mob {
    display: flex;
    flex-direction: column;
}

/** Général **/

body{
    font-family: 'Nova Flat', cursive;
    line-height: 27px;
    color: white;
    background-color: #262626;
    margin: 0;
}

h2{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 35px;
    text-align: center;
}

h3{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 35px;
}

p{
    margin-left: 75px;
    margin-right: 75px;
    text-align: justify;
    font-size: 20px;
}

#Rules li{
    margin-left: 85px;
    margin-right: 85px;
    text-align: justify;
    font-size: 20px;
}

#banner{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    color: blue;
    background-image: url("Pictures/final_banner.png");
    background-position: 50% 50%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
}

header{
    font-size: 60px;
}

.Title {
    width: 70%;
    height: 40%;
    max-height: 150px;
}


/* Menus déroulants */

.menu ul {
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
    display:flex;
    justify-content: space-around;
    background:#c32aff;
    font-size: 30px;
    padding: 1.2rem;
}

.menu li {
    float:left;
    margin:auto;
    padding:0;
    background-color:#c32aff;
}

.menu li a {
    display:flex;
    text-align:center;
    border-bottom: 2px solid transparent;
    color:white;
    text-decoration:none;
    padding:5px;
}

.menu li a:hover {
    color:white;
    border-bottom: 2px solid white
}

.menu ul li ul {
    display:none;
    font-size: 25px;
}

.menu ul li:hover ul {
    display:block;
}

.menu li:hover ul li {
    float:none;
}

.menu li ul {
    position:absolute;
}

@media screen and (max-width: 900px) {
    .menu li{
        font-size: 15px;
    }
}

@media screen and (max-width: 380px) {
    .menu li{
        font-size: 12px;

    }
}


/* How2Play */

hr{
    width: 87.666%;
    height: 2px;
    margin-top: 20px;
    background-color: blue;
    position: relative;
    animation-name: color;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes color {
    0%   {background-color:#4D4DFF;}
    16.66%  {background-color:#E0E722;}
    33.32%  {background-color:#FFAD00;}
    49.98%  {background-color:#D22730;}
    66.64%  {background-color:#DB3EB1;}
    83.31%  {background-color:#C724B1;}
    100% {background-color:#44D62C;}
}

#TowersHow img, #EnemiesHow img {
    margin-right: 50px;
}

/*Banque de Chemin*/

.banqueChemin {
    height: 900px;
    width: 1000px;
    background: radial-gradient(black 50%, blue);
    border: 0.4rem solid;
    border-color: black;
}

.chooseMap {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.GridRow {
    display: flex;
    margin-bottom: 3%;
    margin-top: 3%;
  }
  
.GridColumn {
    justify-content: space-around;
    margin: auto;
    padding: 5px;
  }

.gridSize {
    width: 250px;
    height: 250px;
}



/* Footer */

.foot{
    color:white;
    padding: 1rem;
    line-height: 2em;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(#c32aff,#841dad);
}

.foot a{
    color: white;
    text-decoration:white;
}

.foot i{
    color: white;
    font-size:35px;
    text-decoration:white;
    margin-left: 10px;
}

.foot h2{
    margin-left: 0px;
    font-size: 25px;
}

.basdepage{
    display: flex;
    justify-content: center;
    background: linear-gradient(#841dad, black);
    color: white;
    font-size:15px;
    padding: 1.2rem;
    text-align: center;
}


/*.FooterText {
    background-image: url("Pictures/Enemies/blue_circle.png");
    background-size: 9rem;
    background-attachment: ;
    background-position: center;
    background-repeat: no-repeat;
}*/

.FootLore, .FootHowToPlay, .FootTeam {
    text-shadow: 2px 2px black;
    background-size: 7.5rem;
    background-position: center;
    background-repeat: no-repeat;
    width: 170px;
    height: 170px;
    text-align: center;
}


.FootLore {
    background-image: url("Pictures/Enemies/lime_circle.png");
}
.FootHowToPlay {
    background-image: url("Pictures/Enemies/purple_circle.png");
}
.FootTeam {
    background-image: url("Pictures/Enemies/orange_circle.png");
}

.EntireLore {
    font-size: 2rem;
    margin: 2rem;

}

.disabled {
    display: none;
}