.Board {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.Grid {
    /*background-color: rgba(48,48,48, .5);*/
    background-color: green;
}

.RectangleTowers {
    height: 863px;
    width: 250px;
    background: radial-gradient(black 50%, blue);
    border: 0.4rem solid;
    border-color: black;
}

.RectangleTowers h1 {
    text-align: center;
    text-decoration: underline;
    color : silver;
    text-shadow: 2px 2px black;
}

.ImageGold {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    color: gold;
}

.Triangle {
    text-align: center;
    color: gold;
    font-size: 1.9rem;
}

.BlueTri:hover {
    outline : 0.2rem solid red;
}
.PurpleTri:hover {
    outline : 0.2rem solid red;
}
.GreyTri:hover {
    outline : 0.2rem solid red;
}
.YellowTri:hover {
    outline : 0.2rem solid red;
}
.RedTri:hover {
    outline : 0.2rem solid red;
}

.Selected {
    border: solid;
    border-color: orange;
}


.RectangleTowers hr{
    background-color: black
}

.Sell {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    color : red;
    text-shadow: 2px 2px black;
}

.Sell:hover {
    border: solid;
    border-color: red;
}

.Cancel {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    color : silver;
    text-shadow: 2px 2px black;
}

.Cancel:hover {
    outline : 0.2rem solid silver;
}



.Mobs {
    border-left-width: medium;
    border-left-style: none;
    border-left-color: black;
}

.RectangleMobs {
    height: 863px;
    width: 250px;
    background: radial-gradient(black 50%, red);
    border: 0.4rem solid;
    border-color: black;
}

.RectangleMobs h1 {
    text-align: center;
    text-decoration: underline;
    color : silver;
    text-shadow: 2px 2px black;
}

.Wave {
    text-align: center;
    font-size: 1.9rem;
    color: #ffae00;
}

#startwave {
    margin: 2.2rem;
    color: black;
    font-size: 2rem;
    background-color : red;
    border: solid;
    border-color: darkred;
}

#startwave:active {
    filter: saturation(50%);
}

.Enemies {
    margin-left: 4rem;
    font-size: 1.9rem;
    color: #ffae00;
}

.MobHoverLB {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.MobHoverLB .TextLightB {
    visibility: hidden;
    width: 300px;
    background-color: silver;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 40px;
    border: solid;
    border-color: darkred;
   
    position: absolute;
    z-index: 1;
}
.MobHoverLB:hover .TextLightB {
    visibility: visible;
}


.MobHoverO {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.MobHoverO .TextOrange {
    visibility: hidden;
    width: 300px;
    background-color: silver;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 40px;
    border: solid;
    border-color: darkred;
   
    position: absolute;
    z-index: 1;
}
.MobHoverO:hover .TextOrange {
    visibility: visible;
}


.MobHoverLime {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.MobHoverLime .TextLime {
    visibility: hidden;
    width: 300px;
    background-color: silver;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 40px;
    border: solid;
    border-color: darkred;
   
    position: absolute;
    z-index: 1;
}
.MobHoverLime:hover .TextLime {
    visibility: visible;
}


.Remaining {
    color: #ffae00;
    text-align: center;
    font-size: 1.9rem;
} 

body{
    font-family: 'Nova Flat', cursive;
    line-height: 27px;
    color: #444;
    margin: 0;
}

h2{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 35px;
    text-align: center;
}

h3{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 35px;
}

p{
    margin-left: 75px;
    margin-right: 75px;
    text-align: justify;
    font-size: 20px;
}

#Rules li{
    margin-left: 85px;
    margin-right: 85px;
    text-align: justify;
    font-size: 20px;
}

#banner{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    color: blue;
    background-image: url("Pictures/final_banner.png");
    background-position: 50% 50%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
}

header{
    font-size: 60px;
}

/* Menus déroulants */

.menu ul {
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
    display:flex;
    justify-content: space-around;
    background:#c32aff;
    font-size: 30px;
    padding: 1.2rem;
}

.menu li {
    float:left;
    margin:auto;
    padding:0;
    background-color:#c32aff;
}

.menu li a {
    display:flex;
    text-align:center;
    border-bottom: 2px solid transparent;
    color:white;
    text-decoration:none;
    padding:5px;
}

.menu li a:hover {
    color:white;
    border-bottom: 2px solid white
}

.menu ul li ul {
    display:none;
    font-size: 25px;
}

.menu ul li:hover ul {
    display:block;
}

.menu li:hover ul li {
    float:none;
}

.menu li ul {
    position:absolute;
}

@media screen and (max-width: 900px) {
    .menu li{
        font-size: 15px;
    }
}

@media screen and (max-width: 380px) {
    .menu li{
        font-size: 12px;

    }
}


/* How2Play */

hr{
    width: 87.666%;
    height: 2px;
    margin-top: 20px;
    background-color: blue;
    position: relative;
    animation-name: color;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes color {
    0%   {background-color:#4D4DFF;}
    16.66%  {background-color:#E0E722;}
    33.32%  {background-color:#FFAD00;}
    49.98%  {background-color:#D22730;}
    66.64%  {background-color:#DB3EB1;}
    83.31%  {background-color:#C724B1;}
    100% {background-color:#44D62C;}
}

#TowersHow img, #EnemiesHow img{
    margin-right: 50px;
}

/* Footer */

.foot{
    color:white;
    padding: 1rem;
    line-height: 2em;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(#c32aff,#841dad);
}

.foot a{
    color: white;
    text-decoration:white;
}

.foot i{
    color: white;
    font-size:35px;
    text-decoration:white;
    margin-left: 10px;
}

.foot h2{
    margin-left: 0px;
    font-size: 25px;
}

.basdepage{
    display: flex;
    justify-content: center;
    background: linear-gradient(#841dad, black);
    color: white;
    font-size:15px;
    padding: 1.2rem;
    text-align: center;
}